*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    height:  100%;
}


#container{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6,calc(100% /6));
    grid-template-rows: repeat(7,calc(100% /7));
}

p{
    font-weight: bold;
    color: #ecfdf5;
}

/*Styling sideBar*/

#sideBar{
    
    /* background-color: #0ea5e9; */
    background-color: #0284c7;
    grid-column: 1/2;
    grid-row: 1/9;
    padding: 1em;
    
}


#dashBoard{
    display: flex;
    align-items: center;
    gap: .5em;
    
}

#home, #settings{
    margin-top: 3em;
}

#dashBoard img{
    height: 2em;
    width: 2em;
}
#dashBoard p{
     font-size: 1.5em;
}

#logos-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
}



#logos-container img , .logo{
    height: 1.2em;
    width: 1.2em;
}

#logos-container div{
    display: flex;
    align-items: center;
    gap: 1em;
}

#logos-container a{
    text-decoration: none;
    font-weight: bold;
    color: #ecfdf5;
}

#logos-container a:hover{
    text-decoration:underline;
}

/*Styling sideBar Ending*/
/************************************************/

/*Styling navbar*/

#navbar{
    background-color:azure;
    grid-column: 2/8;
    grid-row: 1/3;
    /* border: 3px solid darkblue; */
    padding: 2em;
    box-shadow: 0 8px 6px -6px rgb(187, 186, 186);
}

#first-row{
    display: flex;
    align-items: center;
}

input[type="search"]{
   border: 0px;
    background-color: #e5e7eb;
    width: 85%;
    height: 1.7em;
    border-radius: 25px;
    
}

#first-row div{
    display: flex;
    align-items: center;
    width:50% ;
}