*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    height:  100%;
}


#container{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6,calc(100% /6));
    grid-template-rows: repeat(5,20%);
}

#sideBar{
    
    background-color: #0ea5e9;
    grid-column: 1;
    grid-row: 1/7;
    padding: 1em;
    
}

p{
    font-weight: bold;
    color: #ecfdf5;
}



#dashBoard{
    display: flex;
    align-items: center;
    gap: .5em;
    
}

#home, #settings{
    margin-top: 3em;
}

#dashBoard img{
    height: 2em;
    width: 2em;
}
#dashBoard p{
     font-size: 1.5em;
}

#logos-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
}



#logos-container img{
    height: 1.2em;
    width: 1.2em;
}

#logos-container div{
    display: flex;
    align-items: center;
    gap: 1em;
}

#logos-container a{
    text-decoration: none;
    font-weight: bold;
    color: #ecfdf5;
}

#logos-container a:hover{
    text-decoration:underline;
}